<%= form_for([@grupo, @post]) do |f| %>
  <% if @post.errors.any? %>
  <%= pluralize(@post.errors.count, "error") %>
  <% end %>
  <div class="form-group">
    <%= f.text_area :contenido, placeholder: "¿Qué estás pensando?", class: "form-control" %>

    <%= f.submit :Postear, class: "btn btn-primary" %>
  </div>
<% end %>
