/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.menu{
	background-color: #47CC68;
}
.in{
  background-color: #FFF;
}
.navbar-inverse{
  background-color: rgba(16,71,57,0.85);
  font-family: "niveau-grotesk";
  color: #FFFFFF !important;
}

.navbar{
  font-family: "trajan-pro-3";
  color: #000000 !important;
}
.navbar-nav{
  color: #FFFFFF !important;
}
.navbar-fixed-top{
  background-color:rgba(94,199,184,0.5);
}

body{
	background-color: #182125;
  margin-top: 55px;

}
.pri{
    border-radius:12px;

}
.container{
  background:#51BFAF;
  background-color: #A3E6DC;
}
#masonry-container {
  
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.transitions-enabled.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.transitions-enabled.masonry  .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}


/* disable transitions on container */
.transitions-enabled.infinite-scroll.masonry {
  -webkit-transition-property: none;
     -moz-transition-property: none;
      -ms-transition-property: none;
       -o-transition-property: none;
          transition-property: none;
}

.box {
margin: 5px;
width: 214px;
}

.box img {
width: 100%;
}

h1{
  font-family: "trajan-pro-3";
  text-align: center;
  color: #104739;
}
h2{
  font-family: "trajan-pro-3";
}
p{
  font-family: "niveau-grotesk";
}
ul{
  font-family: "niveau-grotesk";
  color: #FFF !important;
}
.estrellas{
  color: yellow;
}
.hs-responsive-embed-youtube { 
position: relative;

padding-bottom: 56.25%; /* 16:9 Aspect Ratio */

padding-top: 25px;

}

.hs-responsive-embed-youtube iframe {

    position: absolute;

    width: 100%!important;

    height: 100%!important;
}

.nav-tabs {
  margin-top:50px;
}


.navbar-inverse .navbar-brand {
  color: #FFF;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #000;
  background-color: transparent;
}

.navbar-inverse .navbar-text {
  color: #000;
}

.navbar-inverse .navbar-nav > li > a {
  color:#E8E6E7;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #000;
  background-color: transparent;
}
#seter {
  position: absolute;
  z-index: 100;
  background-color: rgba(255,255,255,0.92);
  padding:30px;
  margin-top:-100px;
  margin-left:25%;
  border-radius:30px;
  animation-name: seter;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  text-decoration:none;
  text-shadow: beige;
  border-color:cadetblue;
  border:5px solid;
  text-align:center;
  color:teal;
  font-size:large;
  font-family: "niveau-grotesk";
}

@keyframes seter{
  0%{background-color:rgba(255,255,255,1);}
  50%{background-color:rgba(255,255,255,0.8);}
  100%{background-color:rgba(255,255,255,1);}

}
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

  .posteo{
    color: black;
    border-style: groove;
    padding: 12px;
    margin: 8px;
    background-color: ghostwhite;
    font-family: "niveau-grotesk"
  }